.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #cabe90;
  }
  
  .flex-item {
    border-style: solid;
    border-color: black;
    padding: 5px;
    width: 250px;
    height: 150px;
    margin-top: 10px;
    line-height: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
  .roomContainer{
    display: none;
  }

  .hideButton{
    background: #cabe90;
    border-color: #cabe90;
    text-emphasis-color: #cabe90;
    text-decoration-color: #cabe90;
    color: #cabe90;
    border-color: #cabe90;
    border-style: solid;

  }


.center-screen-full {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .center-screen {
    align-items: center;
    text-align: center; 
  }

