.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #cabe90;
  }
  
  .flex-item {
    /* background: tomato; */
    border-style: solid;
    border-color: black;
    padding: 5px;
    width: 250px;
    height: 150px;
    margin-top: 10px;
    line-height: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
  .roomContainer{
    display: none;
    /* visibility: hidden; */
  }

  .hideButton{
    background: #cabe90;
    border-color: #cabe90;
    text-emphasis-color: #cabe90;
    text-decoration-color: #cabe90;
    color: #cabe90;
    border-color: #cabe90;
    border-style: solid;

  }


.center-screen-full {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .center-screen {
    align-items: center;
    text-align: center; 
  }

